* {
	scrollbar-width: auto;
	scrollbar-color: var(--color11) var(--color2);
}

*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: var(--color11);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color10);
	border-radius: 10px;
	border: 3px solid var(--color11);
}

*::-webkit-scrollbar-thumb:active {
	background-color: var(--color9);
}

body {
	margin: 0px;
	padding: 0px;
	background-color: var(--background);
	color: var(--text);
	font-family: 'Lexend Deca', sans-serif;
	user-select: none;
}

body::-webkit-scrollbar-track {
	border-radius: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: var(--text);
}

/*
	inputs
*/

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=date],
input[type=search],
textarea,
select {
	display: inline-block;
	font-family: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	background-color: var(--color11);
	color: var(--text);
	border: none;
	outline: 2px solid var(--color3);
	padding: 0.55rem 0.75rem;
	border-radius: 6px;
	font-size: 16px;
	max-width: 100%;
	width: auto;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=search]:focus,
textarea:focus,
select:focus {
	outline-color: var(--primaryFocus);
}

.darkTheme input,
.darkTheme textarea,
select::placeholder {
	color-scheme: dark;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
	color: var(--color9);
}

.bigtextarea {
	width: 500px;
	max-width: calc(100% - 25px);
	min-height: 250px;
}

.mediumtextarea {
	width: 325px;
	max-width: calc(100% - 8px);
	min-height: 100px;
}

.searchbar {
	flex-grow: 1;
	flex-basis: 0;
}

main {
	/* 100vh - header height - footer height - footer padding top - footer padding bottom - footer margin top*/
	min-height: calc(100vh - 60px - 20px - 16px - 16px - 40px);
	width: calc(100vw - 40px);
	max-width: 95vw;
	margin: 0 auto;
}

main.flexcontainer {
	justify-content: flex-start;
}

.icon {
	width: 16px;
	height: 16px;
	fill: transparent;
	stroke: var(--text);
	stroke-width: 12px;
	stroke-linecap: round;
}

.iconLarge {
	width: 24px;
	height: 24px;
}

.iconBig {
	width: 28px;
	height: 28px;
}

.verifiedBadge {
	margin: 0 2px 0 3px;
	fill: var(--color1);
	stroke: none;
}

.icon,
stibarc-icon {
	display: flex;
	align-items: center;
}

.flexcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flexcolumn {
	flex-direction: column;
}

.flexstart {
	justify-content: flex-start;
}

.noflexgrow {
	flex-grow: 0;
}

.flexgrow {
	flex-grow: 1;
}

.margintop {
	margin-top: 14px;
}

.marginbottom {
	margin-bottom: 14px;
}

.margintopsmall {
	margin-top: 8px;
}

.marginbottomsmall {
	margin-bottom: 8px;
}


.red {
	color: var(--red) !important;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader {
	display: flex;
	border: 5px solid transparent;
	border-radius: 50%;
	border-top: 5px solid var(--color10);
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	width: 25px;
	height: 25px;
	margin: auto;
	animation: spin 0.45s linear infinite;
}

.loader.dark {
	border-top: 5px solid var(--color1);
}

.loading {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.loading::before {
	content: "";
	display: flex;
	position: absolute;
	border: 5px solid transparent;
	border-radius: 50%;
	border-top: 5px solid var(--color10);
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	width: 25px;
	height: 25px;
	z-index: 1;
	animation: spin 0.45s linear infinite;
}

.loading.light::before {
	border-top: 5px solid var(--color1);
}

.loading.dark::before {
	border-top: 5px solid var(--text);
}

.loading.small::before {
	width: 15px;
	height: 15px;
	border: 3px solid transparent;
	border-radius: 50%;
	border-top: 3px solid var(--color2);
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

.loading.small.light::before {
	border-top: 3px solid var(--color1);
}

.loading.small.dark::before {
	border-top: 3px solid var(--text);
}

.leftalign {
	display: flex;
	justify-content: left;
	align-content: flex-start;
	flex-grow: 1;
	flex-basis: 0;
}

.rightalign {
	display: flex;
	justify-content: right;
	flex-grow: 1;
	flex-basis: 0;
}

.aligncenter {
	align-items: center;
}

.justifycenter {
	justify-content: center;
}

.flexwrap {
	flex-wrap: wrap;
}

.pfp {
	background-color: var(--color1);
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin-right: 7px;
	text-indent: -10000px;
}

.profileBanner {
	display: flex;
	position: relative;
	width: 100%;
	height: 175px;
	object-fit: cover;
	background-color: var(--color1);
	border-radius: 10px;
	margin-bottom: 0.75rem;
	border: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.profileBanner.light {
	background-color: var(--color2);
}

.pronouns {
	margin-left: 2px;
	opacity: 0.75;
	overflow-x: auto;
	max-width: 100%;
}

.pfpnm {
	background-color: var(--color1);
	width: 110px;
	height: 110px;
	border-radius: 50%;
	text-indent: -10000px;
}

.post {
	box-sizing: border-box;
	border-radius: 15px;
	width: 100%;
	background-color: var(--color2);
	padding: 12px;
	margin-bottom: 14px;
	user-select: text;
	box-shadow: 0 1px 8px 0 rgba(22, 22, 22, 0.2), 0 1px 4px 0 rgba(22, 22, 22, 0.2);
	transition: box-shadow 0.2s ease-out;
	cursor: pointer;
}

.post:hover {
	box-shadow: 0 1px 8px 0 rgba(22, 22, 22, 0.4), 0 1px 4px 0 rgba(22, 22, 22, 0.4);
}

.posttitle {
	display: inline-block;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 5px;
}

.posts,
.users,
#users {
	width: 100%;
}

.metaSpan stibarc-icon {
	margin-right: 3px;
}

.metaSpan stibarc-icon:not(:first-child) {
	margin: 0 3px 0 8px;
}

hr,
.post hr,
.block hr {
	border: 1px solid var(--color3);
	margin: 0.65rem 0;
}

.comment hr {
	border-color: var(--color9);
}

.comment {
	display: block;
	box-sizing: border-box;
	border-radius: 15px;
	width: 100%;
	background-color: var(--color3);
	padding: 12px;
	margin-bottom: 14px;
	user-select: text;
	box-shadow: 0 1px 8px 0 rgba(22, 22, 22, 0.2), 0 1px 4px 0 rgba(22, 22, 22, 0.2);
	/* transition: box-shadow 0.2s ease-out; */
}

/* .comment:hover {
	box-shadow: 0 1px 8px 0 rgba(22, 22, 22, 0.4), 0 1px 4px 0 rgba(22, 22, 22, 0.4);
} */

.editBtn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.2s ease-out;
}

.editBtn img {
	width: 24px;
	height: 24px;
	filter: invert();
	opacity: 0.7;
}

.editBtn:hover {
	background-color: var(--color10);
}

.button {
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: none;
	font-family: inherit;
	font-size: 1rem;
	line-height: normal;
	background-color: var(--color3);
	color: var(--text);
	margin: 5px;
	padding: 9px 16px;
	border-radius: 20px;
	min-width: 100px;
	height: 20px;
	max-height: 100vh;
	max-width: 100%;
	cursor: pointer;
	transition: background-color 0.2s ease-out;
}

button.button {
	min-height: calc(1.25em + 18px);
}

.button:hover {
	background-color: var(--color10);
}

.button.smallBtn {
	min-height: 0;
	height: auto;
	padding: 7px 14px;
	min-width: 0;
}

.button.light,
.comment .button {
	background-color: var(--color10);
}

.button.light,
.comment .button:hover {
	background-color: var(--color2);
}

.button.primary {
	background-color: var(--color1);
	color: var(--text);
}

.button.primary:hover {
	background-color: var(--color5);
}

.button.danger {
	color: var(--red) !important;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
	background-color: var(--color9);
	color: var(--color10);
	cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--text);
}

.button .icon.textOnRight {
	margin-right: 3px;
}

.button .icon.textOnLeft {
	margin-left: 3px;
}

.button.iconOnly {
	background-color: transparent;
	width: 25px;
	min-width: 35px;
	min-height: 35px;
	margin: 0;
	align-self: center;
	cursor: pointer;
	padding: 2px;
	margin-right: 6px;
	border-radius: 50%;
	transition: background-color .25s ease-in-out;
}

.button.iconOnly>img {
	width: 25px;
}

.button.iconOnly:hover {
	background-color: var(--color5);
}

.buttons {
	margin-top: 1rem;
}

.showOnMobileFlex {
	display: none;
}

.width100 {
	width: 100%;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100vw;
	height: 100vh;
}

.formcontainer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 102;
	width: 100vw;
	height: 100vh;
}

.container {
	width: calc(100vw - 40px);
	max-width: 95vw;
}

.block {
	box-sizing: border-box;
	border-radius: 15px;
	width: 100%;
	width: calc(100vw - 40px);
	max-width: 95vw;
	background-color: var(--color2);
	padding: 12px;
	margin-bottom: 14px;
	user-select: text;
	box-shadow: 0 1px 8px 0 rgba(22, 22, 22, 0.2), 0 1px 4px 0 rgba(22, 22, 22, 0.2);
}

.modal {
	max-height: 90vh;
	overflow-y: auto;
	flex-wrap: nowrap;
}

.verticalspacer {
	height: 2.5rem;
}

.overflowhidden {
	overflow: hidden;
}

.verifiedBadge {
	margin: 0 2px 0 3px;
	fill: var(--color1);
}

.postdate {
	margin-top: 5px;
}

.postdate>#postdate {
	margin-right: 5px;
}

.attachmentContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 6px;
	line-height: 0;
}

.attachmentimage {
	display: block;
	width: 150px;
	height: auto;
	max-width: 100%;
	max-height: 200px;
	object-fit: contain;
	cursor: pointer;
}

.moreAttachments {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	background-color: var(--color9);
	color: var(--text);
	height: 125px;
	width: 125px;
	max-width: 100%;
	margin-left: 6px;
	border-radius: 6px;
}

.smallBadge {
	margin-top: 5px;
	text-align: center;
	align-self: flex-start;
	font-size: 13px;
	padding: 1px 7px;
	background-color: var(--color3);
	color: var(--color4);
	border-radius: 25px;
}

.smallBadge.dark {
	background-color: var(--color9);
}

.smallBadge.red {
	background-color: var(--redBg);
	color: rgba(255, 255, 255, 0.95)
}

#overlaybg {
	background-color: #000000;
	opacity: 0.50;
	display: block;
	width: 100%;
	height: 100%;
}

dialog {
	box-sizing: border-box;
	border-radius: 15px;
	background-color: var(--color2);
	color: var(--text);
	padding: 12px;
	user-select: text;
	box-shadow: 0 1px 8px 0 rgba(22, 22, 22, 0.2), 0 1px 4px 0 rgba(22, 22, 22, 0.2);
	max-height: 90vh;
	width: 100%;
	max-width: 50vw;
	overflow-y: auto;
	flex-wrap: nowrap;
}

@media only screen and (max-width: 750px) {
	dialog {
		width: calc(100vw - 40px);
		max-width: calc(100vw - 40px);
	}
}

dialog input,
dialog textarea {
	margin-bottom: 0.25rem;
}

.hidden {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

@media only screen and (max-width: 750px) {
	.hideOnMobile {
		display: none !important;
	}

	.showOnMobileFlex {
		display: flex;
	}

	.button {
		min-width: 90px;
	}
}

.show {
	visibility: visible;
	opacity: 1;
}

.fadeout {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .22s, opacity .22s linear;
}