.postattachment {
	margin-top: 5px;
	width: 33.3%;
	cursor: pointer;
}

#opennewcommentbutton {
	margin-bottom: 12px;
}

#newcommentbody {
	width: calc(100% - 8px);
	margin: 0 auto;
	min-height: 125px;
}

@media only screen and (max-width: 750px) {
	.postattachment {
		width: 100%;
	}
}

#edited {
	margin-top: 5px;
}