#sessions {
	max-width: 100%;
	box-sizing: border-box;
	align-items: baseline;
}

.contentWithSidebar {
	display: flex;
}

.sidebar {
	width: 25%;
	box-sizing: border-box;
	padding: 0.5rem 1rem 0.25rem 0;
}

.sidebar h2 {
	margin: 0;
}

.sideContent {
	width: 80%;
	box-sizing: border-box;
}

.sidebarItems {
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	min-width: 0;
	max-width: 100%;
}

.sidebarItems li {
	position: relative;
	list-style-type: none;
	cursor: pointer;
	padding: 10px 0 10px calc(60% * 0.25);
	border-radius: 8px;
	display: flex;
	align-items: center;
	min-width: 0;
	flex-shrink: 0;
	transition: background-color 0.2s ease-out;
}

.sidebarItems li>span {
	max-width: calc(100% - 4px);
	flex-shrink: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sidebarItems li:before {
	position: absolute;
	content: "";
	left: 0;
	margin-left: calc(60% * 0.5 * 0.25);
	background-color: transparent;
	height: calc(100% - 26px);
	border-top: 4px inset transparent;
	border-bottom: 4px inset transparent;
	width: 4px;
	border-radius: 8px;
}

.sidebarItems li.active {
	background-color: var(--color9);
}

.sidebarItems li.active:before {
	background-color: var(--color5)
}

.sidebarItems li:hover:not(.active) {
	background-color: var(--color10);
}

.tabContent {
	box-sizing: border-box;
	align-items: baseline;
	justify-content: center;
}

@media only screen and (max-width: 700px) {
	.sidebar {
		width: 35%;
	}

	.sideContent {
		width: 65%;
	}
}

@media only screen and (max-width: 475px) {
	.sidebar {
		width: 100%;
	}

	.sidebarItems {
		margin-right: 0;
	}

	.sideContent {
		width: 100%;
	}

	.contentWithSidebar {
		display: block;
	}

	.sidebarItems li:before {
		display: none;
	}

	.sidebarItems li:after {
		position: absolute;
		content: "";
		right: 0;
		margin-right: 16px;
		border: solid var(--color8);
		border-width: 0 3px 3px 0;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		padding: 3px;
	}

	.sidebarItems li {
		padding: 10px 0 10px 16px;
	}
}