#bio {
	box-sizing: border-box;
	border-radius: 15px;
	width: calc(100vw - 100px);
	min-width: calc(95vw - 20px);
	background-color: var(--color3);
	padding: 12px;
	margin-top: 14px;
	margin-bottom: 14px;
	user-select: text;
	box-shadow: 0 1px 8px 0 rgba(22, 22, 22, 0.2), 0 1px 4px 0 rgba(22, 22, 22, 0.2);
}