:root,
.light {
	--text: black;
	--background: #98DFF3;
	--primaryFocus: #3ea1b1;
	--red: #c32222;
	--redBg: #f14e4e;
	--color1: #49B9CA;
	--color2: #ffffff;
	--color3: #d7d7d7;
	--color4: #0e0e0e;
	--color5: #3ea1b1;
	--color6: #54cbdd;
	--color8: #7e7e7e;
	--color9: #bcbcbc;
	--color10: #e7e7e7;
	--color11: #fafafa;
}

.dark {
	--text: white;
	--background: #162023;
	--primaryFocus: #1b4a51;
	--red: #c32222;
	--redBg: #f14e4e;
	--color1: #1b474e;
	--color2: #ffffff;
	--color3: #d7d7d7;
	--color4: #0e0e0e;
	--color5: #3ea1b1;
	--color6: #54cbdd;
	--color8: #7e7e7e;
	--color9: #bcbcbc;
	--color10: #e7e7e7;
	--color11: #fafafa;
}


/*
@media (prefers-color-scheme: light) {
	:root {
		--text: black;
		--background: #98DFF3;
		--color1: #49B9CA;
		--color2: #ffffff;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: white;
		--background: black;
		--color1: #0e0e0e;
		--color2: #171717;
	}
}
*/