.backLink {
	display: inline-flex;
	align-content: center;
	align-items: center;
}

.backLink stibarc-icon {
	margin-right: 1px;
}

label {
	padding-top: 1rem;
}

code {
	display: inline-block;
	margin-top: 4px;
	background-color: var(--color3);
	padding: 5px;
	border-radius: 5px;
	word-wrap: break-word;
	max-width: 100%;
	box-sizing: border-box;
}

#appicon {
	width: 110px;
	height: 110px;
	border-radius: 10px;
	margin-bottom: 5px;
	background-color: var(--color1);
}

#appnameheader {
	display: inline-block;
	margin: 0;
}

.appHeader {
	margin: 1.25rem 0 1.5rem 0;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
}

#smallAppIcon {
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 5px;
	margin-right: 8px;
	background-color: var(--color1);
}

.contentWithSidebar {
	display: flex;
}

.sidebar {
	/* display: flex;
	flex-direction: column; */
	width: 25%;
	box-sizing: border-box;
	padding: 0.5rem 1rem 0.25rem 0;
	;
}

.sideContent {
	width: 80%;
	box-sizing: border-box;
}

.sidebarItems {
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	min-width: 0;
	max-width: 100%;
}

.sidebarItems li {
	position: relative;
	list-style-type: none;
	cursor: pointer;
	padding: 10px 0 10px calc(60% * 0.25);
	border-radius: 8px;
	display: flex;
	align-items: center;
	min-width: 0;
	flex-shrink: 0;
	transition: background-color 0.2s ease-out;
}

.sidebarItems li>span {
	max-width: calc(100% - 4px);
	flex-shrink: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sidebarItems li:before {
	position: absolute;
	content: "";
	left: 0;
	margin-left: calc(60% * 0.5 * 0.25);
	background-color: transparent;
	height: calc(100% - 26px);
	border-top: 4px inset transparent;
	border-bottom: 4px inset transparent;
	width: 4px;
	border-radius: 8px;
}

.sidebarItems li.active {
	background-color: var(--color9);
}

.sidebarItems li.active:before {
	background-color: var(--color5)
}

.sidebarItems li:hover:not(.active) {
	background-color: var(--color10);
}

.tabContent {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	align-items: baseline;
	padding-right: 12px;
}

#webhookurls,
#callbackurls {
	width: 100%;
}

#webhookurls div,
#callbackurls div {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 0.5rem;
}

#webhookurls input,
#callbackurls input {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-bottom: 6px;
}

#webhookurls select,
#callbackurls select {
	margin-bottom: 6px;
	flex-grow: 1;
}

#webhooturls button {
	flex-shrink: 0;
}

@media only screen and (max-width: 700px) {
	.sidebar {
		width: 35%;
	}

	.sideContent {
		width: 65%;
	}
}

@media only screen and (max-width: 475px) {
	.sidebar {
		width: 100%;
	}

	.sidebarItems {
		margin-right: 0;
	}

	.sideContent {
		width: 100%;
	}

	.contentWithSidebar {
		display: block;
	}

	.sidebarItems li:before {
		display: none;
	}

	.sidebarItems li:after {
		position: absolute;
		content: "";
		right: 0;
		margin-right: 16px;
		border: solid var(--color8);
		border-width: 0 3px 3px 0;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		padding: 3px;
	}

	.sidebarItems li {
		padding: 10px 0 10px 16px;
	}
}

#callbackurls,
#webhookurls {
	gap: 0.75rem;
}

#callbackurls>div>input,
#webhookurls>div>input,
#webhookurls>div>select {
	margin-right: 12px;
}