name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    name: Build and Deploy
    uses: STiBaRC/build-and-deploy/.github/workflows/build-and-deploy.yaml@main
    with:
      image_name: stibarc-web
      dev_deployment_name: stibarc-web-dev
      dev_deployment_yaml: cd/dev.yaml
      dockerfile: cd/Dockerfile